aside, header, footer, article, span {
    padding: 10px
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 1.2em;
}

.grid-wrapper {
    height: auto;
    display: grid;
    grid-template-rows: span 1;
    grid-template-columns: 1fr 3fr;
    background-color: #fae3e4;
}

.flex-wrapper {
    display: grid;
}

aside {
    grid-column: 1/2;
    grid-row: 2/5;
    background-color: #ffe4e4;
    justify-items: flex-end;
}

aside section a {
    font-family: 'Spartan', sans-serif;
    padding: 30px;
    display: flex;
    text-align: right;
    color:rgb(83, 78, 79);
    text-decoration: none;
}

header {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #ffe4e4;
}

nav a {
    padding: 10px;
    float: right;
    text-decoration: none;
    color: rgb(83, 78, 79);
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}

nav a:hover {
    color: lightcoral;
}

footer {
    grid-column: 1/3;
    grid-row: 5/6;
    background-color: #ec8c8c;
}

footer h2 {
    text-align: center;
}

article {
    grid-column: 2/3;
    grid-row: 2/5;
    background-color: #ffe4e4;
}

.flex-wrapper section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    margin: 20px;
    flex-grow: 1;
    margin: 0;
    color:rgb(83, 78, 79);
}

p {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
}

h1, h4, p {
    padding: 5px;
}

h1:hover {
    cursor: pointer;
}

@media only screen and (max-width:850px) {
    .grid-wrapper {
        display: flex;
        flex-direction: column;
    }

    aside {
        display: flex;
    }

    footer {
        order: 2;
    }

    .flex-wrapper {
        flex-direction: column;
    }

    .image {
        margin-bottom: 20px;
    }
}

